body {
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  header {
    background-color: #f1c40f;
    padding: 20px;
    text-align: center;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f1c40f;
  }
  
  nav li {
    float: left;
  }
  
  nav a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav a:hover {
    background-color: #ddd;
  
  
  }